#### SQL terminology

![sql_term](./resources/sql_term.png)

__Aggregate__ functions are functions that are applied over columns of values and return a single value.

---

### Order of clauses

```SQL
SELECT *
    FROM some_table
   WHERE some_condition
GROUP BY column(s)
  HAVING some_condition
ORDER BY some_column
   LIMIT some_limit
```

Here is the order in which the clauses run:

1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT

Since __aggregate__ functions are part of SELECT, the calculation happens after WHERE acts.

---

### Types of Functions

We know that aggregate functions take column and return a single value. 

We also have normal functions that take column, does some transformation on each cell of the column and return another column with the same number of rows as original. _Example_ LENGTH, LOWER, UPPER 

---

When making a comparison to __null__ in SQL, we use the __IS__ keyword, rather than the = sign. If we want to select rows where a column is null we can write:

`WHERE column_name IS NULL`

---

__concatenate operator__: `||`

---

### SUBQUERIES

different ways to create table for complex queries

subquery(select cols from) -> `with` clause (it's also called named subquery) -> view

___WITH_ clause__

```SQL
WITH
    [alias_name] AS ([subquery]),
    [alias_name_2] AS ([subquery_2]),
    [alias_name_3] AS ([subquery_3])

SELECT [main_query]
```

A WITH statement helps a lot when your main query has some slight complexities.

---

### Union

Where regular joins are used to join columns, the union operator is used __to join rows__ from tables and/or views.

![union](./resources/sql_union.png)

### SET OPERATIONS IN SQL

![sql_set](./resources/sql_set.png)